$primaryDark: rgb(15, 15, 24);
$secondaryDark: rgb(50, 50, 86);
$accentDark: rgb(78, 49, 225);

$primaryLight: whitesmoke;
$secondaryLight: rgb(220, 220, 220);
$accentLight: coral;

$tabletBreakpoint: 900px;
$mobileBreakpoint: 400px;