$primaryDark: rgb(15, 15, 24);
$secondaryDark: rgb(50, 50, 86);
$accentDark: rgb(78, 49, 225);

$primaryLight: whitesmoke;
$secondaryLight: rgb(220, 220, 220);
$accentLight: coral;

$tabletBreakpoint: 900px;
$mobileBreakpoint: 400px;

$successColorDark: #5bf95b;
$successColorLight: #2ac42a;
$failColor: #d05050;

$standardTransition: all 0.4s ease-in-out;


@keyframes colorRotate {
    from {
        color: #6666ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #50d050;
    }
    75% {
        color: #ff6933;
    }
    100% {
        color: #6666ff;
    }
}


@keyframes colorRotateBg {
    from {
        background-color: #6666ff;
    }
    10% {
        background-color: #0099ff;
    }
    50% {
        background-color: #50d050;
    }
    75% {
        background-color: #ff6933;
    }
    100% {
        background-color: #6666ff;
    }
}

$rainbowAnim: colorRotate 6s ease-in-out infinite;
$rainbowAnimBg: colorRotateBg 6s ease-in-out infinite;



@keyframes waitLoad {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

$loadIn: waitLoad 0.5s ease-in;