@import "Project.scss";
@import "fonts.scss";

$primaryDark: rgb(15, 15, 24);
$secondaryDark: rgb(50, 50, 86);
$accentDark: rgb(78, 49, 225);

$primaryLight: whitesmoke;
$secondaryLight: rgb(220, 220, 220);
$accentLight: coral;

$tabletBreakpoint: 900px;
$mobileBreakpoint: 400px;

/**
* =====================
*   GLOBAL VARIABLES
* =====================
*/
html {
    background-color: $primaryDark;
    // color: white;
}

* {
    overflow-x: visible;
    font-family: "Inter";
    // kerning: 00.5em;
    // overflow-y:hidden;
}

// smart sticky header
header {
    position: sticky;
    top: -1px;
    padding-top: 2.5rem;
    font-size: 2.5rem;
    padding-top: 3rem;
    white-space: nowrap;
    &.isSticky {
        z-index: 1;
        &::before {
            content: "                   : ";
            white-space: pre;
            font-weight: 600;
            // color: salmon;
        }
    }
    @media (max-width: $mobileBreakpoint) {
        font-size: 2rem;
    }
}

h1 {
    font-size: 3.5rem;
    letter-spacing: -0.031em;
    @media (max-width: $tabletBreakpoint) {
        font-size: 2.5rem;
    }

    @media (max-width: $mobileBreakpoint) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 3.2rem;
    margin-top: 0;
    @media (max-width: $tabletBreakpoint) {
        font-size: 3rem;
    }

    @media (max-width: $mobileBreakpoint) {
        font-size: 1.9rem;
    }
}

h3 {
    font-size: 2.5rem;
    margin-top: 0;
    @media (max-width: $mobileBreakpoint) {
        font-size: 2rem;
    }
}

p {
    font-size: 1.5rem;
    line-height: 1.7;
    letter-spacing: -0.027em;
    font-weight: 500;
    @media (max-width: $tabletBreakpoint) {
        font-size: 1.4rem;
    }

    // @media (max-width: $mobileBreakpoint) {
    //     font-size: 0.8rem;
    // }
    max-width: 40ch;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 0;
    padding-left: 0;
    // max-width: 50%;
    // overflow: visible;
    label {
        font-weight: 400;
        font-size: 1.5rem;
        border: none;
    }

    .customForm {
        border: none;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.5rem;
        border-radius: 0.5rem;
        @media (max-width: $tabletBreakpoint) {
            // width: 16ch;
        }
        // overflow-x: hidden;
        // max-width: 50%;
        min-height: 1em;
        // width: auto;
        &.dark {
            background-color: $secondaryDark;
        }
        &.light {
            background-color: $secondaryLight;
        }

        &:focus {
            outline: orange;
            // border: 2px white;
        }
    }
}

/**
* =====================
*   LAYOUT
* =====================
*/
.main {
    transition: all 0.4s ease-in-out;
    background-color: whitesmoke;
    color: $primaryDark;
}
.body {
    margin: 10rem;
    margin-right: 5rem;
    @media (max-width: $tabletBreakpoint) {
        margin: 2rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    @media (max-width: $mobileBreakpoint) {
        margin: 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    margin-top: 0rem;
    margin-bottom: 0rem;
}

.light {
    background-color: $primaryLight;
    border-color: $primaryDark;
    color: $primaryDark;

    button:hover {
        background: $accentLight;
    }
}

.dark {
    background-color: $primaryDark;
    border-color: $primaryDark;
    color: $primaryLight;

    button:hover {
        background: $accentDark;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 3rem;
    transition: all 0.4s ease-in-out;
}

.sticky-subheader {
    position: sticky;
    padding-top: 3rem;
    z-index: 1;
    width: 100%;
}

.hero {
    height: 100vh;
    display: flex;
    flex-grow: 1;
    @media (max-width: $tabletBreakpoint) {
        flex-direction: column;
    }
    .hero-text {
        margin: 2rem;
        margin-top: 6rem;

        @media (max-width: $mobileBreakpoint) {
            margin-top: 3rem;
        }
    }

    .hero-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .hero-flex-wrapper {
        display: flex;
        @media (min-width: $tabletBreakpoint) {
            display: inline-block;
        }
        margin-top: 5rem;
        justify-content: space-evenly;
    }
}

.cta {
    background: none;
    padding-block: 1em;
    font-weight: 800;
    border: 3px solid;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.projects {
    @media (min-width: $tabletBreakpoint) {
        margin: 2em;
    }
}

.contact {
    min-height: 100vh;
    @media (min-width: $tabletBreakpoint) {
        margin: 2em;
    }
}

.bubble {
    display: inline-block;
    font-weight: 600;
    padding: 0.6em;
    color: $primaryLight;
    border-radius: 0.5em;
    margin: 0.25rem;
    border: none;
    font-size: 1em;
    outline: none;
}

.platform {
    background: hsl(255, 90%, 69%);
}

.tech {
    background: hsl(0, 78%, 63%);
}

.link {
    background: hsl(144, 77%, 44%);
}

.header-toggle {
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
    @media (max-width: $tabletBreakpoint) {
        display: block;
    }
}

.clickable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}

.mobile {
    @media (min-width: $tabletBreakpoint) {
        display: none;
    }
}
