@import "master.scss";

form {
    margin-top: 10rem;
}

.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    border: none;
    margin-left: 0;
    padding-left: 0;
    flex-basis: content;
    margin-bottom: 2em;

    label {
        font-weight: 400;
        font-size: 1.5rem;
        border: none;
    }

    .customForm {
        border: none;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 0.5rem;
        border-radius: 0.5rem;

        flex-basis: content;

        @media (max-width: $tabletBreakpoint) {
            // width: 16ch;
        }

        min-height: 1em;

        &.dark {
            background-color: $secondaryDark;
            &:focus {
                outline: none;
                border: $primaryLight 2px solid;
            }
        }
        &.light {
            background-color: $secondaryLight;
            &:focus {
                outline: none;
                border: $primaryDark 2px solid;
            }
        }
    }
}
.success-msg {
    &.dark {
        color: $successColorDark;
    }
    &.light {
        color: $successColorLight;
    }
    transition: $standardTransition;
    font-weight: 700;
}

.fail-msg {
    color: $failColor;
    font-weight: 700;
}
