.project {
    min-height: 50vh;

    h4 {
        font-size: 1.5em;
        margin-bottom: 0.3rem;
        margin-top: 0.5em;
    }

    .title {
        grid-area: title;
    }

    .media {
        grid-area: media;
        display: flex;
        overflow-x: scroll;
        img {
            width: 250px;
            height: 150px;
            margin-right: 10px;
            border-radius: 1em;
        }
    }

    .flex-wrapper {
        display: flex;
        // flex-grow: 1;
        flex-basis: content;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        .bubbles {
            @media (min-width: 800px) {
                max-width: 35ch;
            }
            
            padding: 3rem;
            padding-left: 0;
        }
    }
    .description {
        padding: 3rem;
        padding-left: 0;
        display: flex;
        max-width: 50ch;
        flex-grow: 1;
    }
}
