@import "master.scss";
.socials {
    transition: $standardTransition;
  
    svg {
        margin-inline: 0.5rem;
        cursor: pointer;
        &:hover {
            stroke-width: 2;
            animation: $rainbowAnim;
            cursor: pointer;
        }
    }
}
